/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color:
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  width: 30%;
  margin: auto;
  display: block;
  }

/*Created a header to be able to change the bg-colour */
#header {
  display: block;
  border-radius: 8px;
  padding: 10px;
  background-color: #222;
}

/*Made a container within the header for the text*/
.header-container {
  display: flex; /*Makes the item within the box responsive*/
  justify-content: center; /*Aligns item in the center*/
  margin-bottom: 1%;
}

/*Styling of the text block*/
#header-textblock{
  font-family: "Helvetica"; font-size: xx-large; color: white;
 height: fit-content;
 padding-left: 5px; padding-right: 5px;

}

/*Container for the controls; search, filter, etc*/
.controls {
  display: flex; /*Makes the items within the box responsive*/
  justify-content: center; /*Aligns the items in the center*/
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/*Container for each element in the search bar*/
.search-container {
  display: flex;
  padding-left: 5px;
  gap: 1px;
  width: 30%;
  background-color: white;
  border-radius: 25px;
}

/*Container to align the pokéball-icon*/
.pokeball-container {
  display: flex;
  align-items: center;
}

/*The image itself*/
#pokeball-icon {
    block-size: 40px;
  }

/*Defined styling for the input*/
  #search {
    padding: 16px;
    width: 95%;
    border: none; /*Invisible border*/
    background-color: transparent; /*Invisible background*/
    outline: none; /*No visible outline when clicking*/
  }
#filter {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
}

/* Styling of the dropdown menu */
.dropdown {
  justify-content: center;
  position: relative;
  display: inline-block; /*Inline-block so the blocks don't end up bigger than necessary*/
}

/*Styling for the "Generations"-dropdown menu*/
.dropbtn {
  padding: 10px 15px;
  border-radius: 8px;
  background: #ffcb05;
  cursor: pointer; /*Changes the look of the cursor to indicate that the button is clickable*/
  border: 2px solid #3b4cca;
  font-weight: bold;
}

/*The styling of the dropdown-menu*/
.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 180px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2); /*The offset of the box-shadow as well as the colour where the alpha is 0.2 */
  z-index: 1; /* Defines the stack-order so the contents of the menu are visible in front of everything else */
  border-radius: 8px;
}

/*Defines the styling of the of the content within the dropdown-options for the generations*/
.dropdown-content a {
  display: block;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  color: black;
}

/* Defines the what happens when you hover over the dropdown-button; in this case it displays content */
.dropdown:hover .dropdown-content {
  display: block;
}

/*When you hover over the options they change colour*/
.dropdown-content a:hover {
  background: #d1d1d1; /*color it changes to*/
  transition-duration: 0.2s; /*Duration of animation*/
}

/* Defines the Pokédex grid*/
.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /*Minimum 180px, max 1 fraction of the grid aka one grid space */
  gap: 2%; /* Horizontal gap between the cards, used percentages for responsiveness*/
  padding: 10px; /*Padding between the card and the surrounding elements*/
  max-height: 70vh; /*The maximum height is 70% of the viewport height, */
  overflow-y: auto; /*This adds a scroll function*/
}

/* Styling of the Pokémon card and the duration of the hover-animation */
.pokemon-card {
  display: block;
  background: white;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s; /* duration of hover-animation */
}

.pokemon-card:hover {
  transform: scale(1.05);
} /* Defines hover-animation; in this case the cards are scaled up by 5%*/

/*Defines the size of the image on the cards*/
.pokemon-card img {
  width: 120px; /*Set in pixels to maintain a consistent card-size*/
}

/* Defines the placement of the type chips in the cards */
.types {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Defines the styling of the type chips themselves */
.type {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 6px;
  color: white;
  font-size: 0.8rem;
}



/* Defines the colours of the different type-chips, turning them into subcategories */
.type-fire { background: #f08030; }
.type-water { background: #6890f0; }
.type-grass { background: #78c850; }
.type-electric { background: #f8d030; }
.type-ice { background: #98d8d8; }
.type-fighting { background: #c03028; }
.type-poison { background: #a040a0; }
.type-ground { background: #e0c068; }
.type-flying { background: #a890f0; }
.type-psychic { background: #f85888; }
.type-bug { background: #a8b820; }
.type-rock { background: #b8a038; }
.type-ghost { background: #705898; }
.type-dragon { background: #7038f8; }
.type-dark { background: #705848; }
.type-steel { background: #b8b8d0; }
.type-fairy { background: #ee99ac; }
.type-normal { background: #aaaaaa; }
